.productNav {
    grid-area: productNav;
    background-color: #0A1D1C;
    border: 1px solid #1F5E5B;
    color: #00F9B6;
    grid-area: navi;
    width: 200px;
    height: fit-content;
    padding: 10px;

    @media (max-width: 1199px) {
        width: 100%;
    }

    .productNav_menu, .productNav_submenu {
        list-style: none;
        cursor: pointer;
    }

    .productNav_menuItem:hover {
        color: white;

        .productNav_submenu {
            display: block;
        }
    }

    .productNav_submenu {
        display: none;

        .productNav_submenuItem {
            text-decoration: none;
            color: #00F9B6;
            
            li {
                margin-left: 10px;
            }

            &:hover {
                color: white;
            }
        } 
    }
}